.mark-down-component h1, h2, h3, h4, h5, h6 {
    color: var(--color-purple-400);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 1rem 0 .25rem;
}

.mark-down-component h1 {
    font-size: var(--text-4xl);
    margin-top: 0;
}

.mark-down-component h2 {
    font-size: var(--text-3xl);
    margin-top: 0;
}

.mark-down-component h3 {
    font-size: var(--text-2xl);
}

.mark-down-component h4 {
    font-size: var(--text-xl);
}

.mark-down-component h5 {
    font-size: var(--text-lg);
}

.mark-down-component p {
    margin: 1rem 0;
}

.mark-down-component pre {
    margin-top: .5rem;
    margin-bottom: .5rem;
    transition: height .2s ease-out;

    border-radius: 1rem;

   /* max-width: 100%; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.mark-down-component pre.collapsed {
    overflow: hidden;
    overflow-x: auto;
}
.mark-down-component code {
    font-size: var(--text-lg);
    font-family: 'Courier New', Courier, 'monospace';
    font-style: normal;
    color: var(--color-neutral-200);
}

.mark-down-component pre code {
    border-radius: 1rem;
    white-space: pre !important;   /* undo resets that set pre-wrap */
    word-wrap: normal !important;
    display: inline-block;
    min-width: max-content;
}

.mark-down-component .shadowbox {
    --shadow-color: color-mix(in srgb, var(--color-neutral-900) 60%, transparent);
    overflow: hidden;

    box-shadow: 0 -43px 48px -25px var(--shadow-color) inset;
    -webkit-box-shadow: 0 -43px 48px -25px var(--shadow-color) inset;
    -moz-box-shadow: 0 -43px 48px -25px var(--shadow-color) inset;
    opacity: 0;
    transition: all .2s ease-out;
}

.mark-down-component pre.collapsed .shadowbox {
    opacity: 1;
    overflow: hidden;
}


.mark-down-component hr {
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 4);
    opacity: .4;
}

.mark-down-component ul,
.mark-down-component ol {
    list-style: none;
    padding-left: 0;
    color: var(--color-purple-200);
}

.mark-down-component ul li::before {
    content: '->';
    margin: 0 calc(var(--spacing) * 2);
}

.mark-down-component ol {
    counter-reset: list-counter;
}

.mark-down-component ol li::before {
    counter-increment: list-counter;
    content: counter(list-counter) '. ';
    margin: 0 calc(var(--spacing) * 2);
    margin-left: calc(var(--spacing) * 4);
}

.mark-down-component a {
    color: var(--color-purple-400);
    text-decoration: underline;
}

.mark-down-component a:hover {
    text-decoration: none;
}

.mark-down-component blockquote {
    padding: 1rem 1rem;
    color: var(--color-neutral-400);
    font-style: italic;
    background-color: var(--color-neutral-800);
    margin: 1rem 0;
    border-radius: 1rem;
}

.mark-down-component blockquote p {
    margin: 0;
}

@media (max-width: 768px) {
    .mark-down-component code {
        font-size: var(--text-base);
    }
}